{{> head }}

{{> navbar }}

    <div class="container pt-5">

        <div class="row">

            <div class="col-8">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, inventore quod voluptatibus quas sint optio. Vero eveniet voluptatem rem nisi nihil, a dolorum sapiente placeat, suscipit inventore provident optio eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis magnam eveniet odit id porro non minima ab facere cupiditate nisi temporibus repudiandae, reprehenderit, rerum delectus unde nesciunt, similique incidunt consequuntur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quidem veniam doloremque dignissimos quis fuga voluptate mollitia, eaque similique perferendis necessitatibus aperiam officia provident culpa delectus sint qui porro ducimus.</p>
            </div>

            <div class="col-4">
                <img src="assets/img/node.png" class="img-thumbnail">
            </div>

        </div>

    </div>

{{> footer }}